<footer>
  <div class="footer-full container">
    <div class="footer-tablet-plus">
      <div class="footer-first-part">
        <a href="index.html" class="footer-logo">yachtjet</a>
        <ul class="footer-button-list">
          <li class="footer-button-item-cont">
            <a class="footer-button-item" href="#about">ABOUT</a>
          </li>
          <li class="footer-button-item-cont">
            <a class="footer-button-item" href="#yachts">YACHTS</a>
          </li>
          <li class="footer-button-item-cont">
            <a class="footer-button-item" href="#reviews">REVIEWS</a>
          </li>
        </ul>
      </div>
      <ul class="footer-social-links-list">
        <li>
          <a href="https://www.instagram.com/goitclub/" target="_blank">
            <svg class="footer-social-link-icon" width="24" height="24">
              <use href="./img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/c/GoIT" target="_blank">
            <svg class="footer-social-link-icon" width="24" height="24">
              <use href="./img/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/goITclub/">
            <svg class="footer-social-link-icon" width="24" height="24">
              <use href="./img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-slogan">
      <p>
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>
    </div>
    <div class="footer-yacht-privicy">
      <ul class="footer-yacht-privicy-list">
        <li>
          <p>2023. Yacht Adventures</p>
        </li>
        <li>
          <p>Privacy Police</p>
        </li>
      </ul>
    </div>
  </div>
</footer>
