<header class="header">
  <div class="container header-container">
    <a href="index.html" class="logo">yachtjet</a>
    <nav class="top-nav">
      <ul class="header-menu">
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#about">About</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#yachts">Yachts</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <address class="address-list">
      <ul class="contacts">
        <li class="contacts-item">
          <a
            class="contacts-item-link"
            target="_blank"
            href="https://www.instagram.com/goitclub/"
            ><svg
              class="contacts-icon"
              aria-label="instagram-icon"
              width="19"
              height="19"
            >
              <use href="./img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="contacts-item">
          <a
            class="contacts-item-link"
            target="_blank"
            href="https://www.youtube.com/c/GoIT"
            ><svg
              class="contacts-icon"
              aria-label="youtube-icon"
              width="20"
              height="20"
            >
              <use href="./img/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li class="contacts-item">
          <a
            class="contacts-item-link"
            target="_blank"
            href="https://www.facebook.com/goITclub/"
            ><svg
              class="contacts-icon"
              aria-label="facebook-icon"
              width="20"
              height="20"
            >
              <use href="./img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
    <button class="open-menu-btn" type="button">
      <svg
        class="open-menu-btn-icon"
        aria-label="open-menu-icon"
        width="28"
        height="28"
      >
        <use href="./img/icons.svg#bb-menu"></use>
      </svg>
    </button>
  </div>
  <div class="container mobil-modal-header-wrap is-close">
    <div class="mobil-modal-header">
      <a href="index.html" class="modal-logo">yachtjet</a>
      <button type="submit" class="header-btn-close">
        <svg class="modal-icon" width="16" height="16">
          <use href="./img/icons.svg#close"></use>
        </svg>
      </button>
    </div>
    <ul class="mobil-modal-nav">
      <li class="mobil-modal-nav-item active">
        <a class="header-menu-item-link mobil-ancor1" href="#about">About</a>
      </li>
      <li class="mobil-modal-nav-item">
        <a class="header-menu-item-link mobil-ancor2" href="#yachts">Yachts</a>
      </li>
      <li class="mobil-modal-nav-item">
        <a class="header-menu-item-link mobil-ancor3" href="#reviews"
          >Reviews</a
        >
      </li>
    </ul>
    <ul class="mobil-modal-soc">
      <li>
        <a href="https://www.instagram.com/goitclub/" target="_blank">
          <svg class="modal-icon" width="20" height="20">
            <use href="./img/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/c/GoIT" target="_blank">
          <svg class="modal-icon" width="20" height="20">
            <use href="./img/icons.svg#youtube"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/goITclub/" target="_blank">
          <svg class="modal-icon" width="20" height="20">
            <use href="./img/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
