<section class="rent">
  <div class="rent-imput-img-desktop container">
    <div class="rent-imput-container">
      <h2 class="rent-title">Rent a yacht now</h2>
      <form class="rent-imput-form">
        <input
          type="text"
          name="user-name"
          placeholder="Full Name"
          class="rent-imput"
          pattern="[A-Za-zА-Яа-яЁё\s]+"
          required
        />
        <input
          type="email"
          name="user-email"
          placeholder="Email"
          class="rent-imput"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          required
        />
        <input
          type="tel"
          name="user-phone"
          placeholder="+380685484222"
          class="rent-imput"
          pattern="\+\d{12}"
          required
        />
         
        
        <textarea
          name="Comment"
          id="Comment"
          placeholder="Comment"
          class="rent-text-imput"
        ></textarea>
        <button type="submit" class="rent-btn">Send</button>
      </form>
    </div>
    <picture class="rent-section-img">
      <source
        srcset="
          ./img/rent/rent-yacht-des@1x.jpg 1x,
          ./img/rent/rent-yacht-des@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/rent/rent-yacht.jpg 1x, ./img/rent/rent-yacht@2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/rent/rent-yacht-mob1x.jpg  1x,
          ./img/rent/rent-yacht-mob@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./img/rent/rent-yacht.jpg"
        alt="A yacht on a lake among
    mountains"
        class="rent-section-img"
      />
    </picture>
  </div>
</section>
