.about-us {
  background-color: #fbfbfb;
  border-radius: 24px;
  padding-top: 40px;
  padding-left: 20px;
  /* padding-right: 20px; */
  padding-bottom: 335px;
  margin-bottom: -295px;
}

.about-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 40px;
}

.about-text-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-text-one {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
}

.about-text-two {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
}

.about-img {
  width: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

@media screen and (min-width: 768px) {
  .about-us {
    padding: 50px;
    padding-left: 32px;
    padding-bottom: 244px;
    margin-bottom: -194px;
  }

  .about-title {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .about-text-block {
    max-width: 389px;
  }

  .about-text-one {
    font-size: 23px;
  }

  .about-text-two {
    font-size: 13px;
    line-height: 1.15;
  }
}
