.advantage-item {
}
.container {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantage-list {
  width: 335px;
  height: 642px;
  background-color: #1b414b;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.advantage-item {
  padding-left: 20px;
}
.advantage-subtitre {
  width: 34px;
  height: 28px;
  color: #fbfbfb;
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: left;
  padding-bottom: 18px;
}
.advantage-text {
  color: #fbfbfb;
  font-family: Inter;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  text-align: left;
}
.advantage-img {
  display: block;
  width: 100%;
  flex-shrink: 0;
}
