.footer-full {
  background-color: #1b414b;
  width: 100%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  right: 0;
  left: 0;
  padding: 0 20px;
}

.footer-button-item-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-button-item {
  background-color: rgba(251, 251, 251, 0.3);
  border-radius: 8px;
  /* width: 91px; */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fbfbfb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button-item:hover,
.footer-button-item:focus {
  background-color: rgba(251, 251, 251, 1);
  color: #1b414b;
}

.footer-button-list {
  display: flex;
  gap: 4px;
}

.footer-button-item:hover {
  color: #1b414b;
}

@media screen and (max-width: 767px) {
  .footer-button-item {
    min-width: 66px;
    font-family: Inter;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
  }

  .footer-first-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 82px;
  }
}

.footer-logo {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(251, 251, 251, 1);
}

.footer-social-links-list {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  gap: 13px;
  /* margin-bottom: 40px; */
}

.footer-social-link {
  fill: #fbfbfb;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  fill: rgba(251, 251, 251, 0.8);
}

.footer-slogan {
  width: 279px;
  margin: 0 auto 82px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(251, 251, 251, 1);
}

.footer-yacht-privicy-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: rgba(251, 251, 251, 0.4);
}
.footer-tablet-plus {
  margin-bottom: 40px;
}
footer {
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  footer {
    padding-top: 75px;
  }

  .footer-first-part {
    display: flex;
    gap: 106px;
  }

  .footer-tablet-plus {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 96px;
    padding-left: 10px;
    padding-right: 10px;
    /* margin-bottom: 40px; */
  }

  .footer-logo {
    font-size: 20px;
    line-height: 24px;
  }

  .footer-button-item-cont {
    min-width: 91px;
  }
  .footer-social-links-list {
    margin-right: 10px;
    align-items: flex-start;
  }
  .footer-button-item {
    font-family: Inter;
    font-size: 9px;
    font-weight: 400;
    width: 91px;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
  }

  .footer-slogan {
    width: 640px;
    margin-bottom: 99px;
    margin-right: auto;
    margin-left: auto;
    font-size: 32px;
    line-height: 32px;
  }

  .footer-yacht-privicy-list {
    line-height: 16.52px;
    gap: 32px;
  }
  .footer-text {
    color: rgba(251, 251, 251, 0.4);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 3%;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .footer-first-part {
    gap: 327px;
  }

  .footer-slogan {
    display: flex;
    width: 693px;
    align-items: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: center;
  }
    .footer-tablet-plus {
     
    padding-left: 30px;
    padding-right: 23px; 
  }
   
}
