.footer-full {
  background-color: #1b414b;
  width: 100%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  right: 0;
  left: 0;
  padding: 0 10px;
}

.footer-button-item-cont {
  display: flex;
  height: 40px;
  background-color: rgba(251, 251, 251, 0.3);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.footer-button-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fbfbfb;
}

.footer-button-item-cont:hover,
.footer-button-item-cont:focus {
  background-color: rgba(251, 251, 251, 1);
  color: rgba(27, 65, 75, 1);
}

.footer-button-list {
  display: flex;
  gap: 4px;
}

.contaiter {
  margin: 0 10px;
}

@media screen and (max-width: 767px) {
  .contaiter {
    max-width: 355px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-button-item {
    min-width: 66px;
    font-family: Inter;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
  }

  .footer-first-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 82px;
  }
}

.footer-logo {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(251, 251, 251, 1);
}

.footer-social-links-list {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 40px;
}

.footer-social-link-icon {
  fill: #fbfbfb;
}

.footer-social-link-icon:hover,
.footer-social-link-icon:focus {
  fill: rgba(251, 251, 251, 0.8);
}

.footer-slogan {
  margin-bottom: 82px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(251, 251, 251, 1);
}

.footer-yacht-privicy-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: rgba(251, 251, 251, 0.4);
}

@media screen and (min-width: 768px) {
  .contaiter {
    max-width: 738px;
    padding-top: 75px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-first-part {
    display: flex;
    gap: 126px;
  }

  .footer-tablet-plus {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 96px;
  }

  .footer-logo {
    font-size: 20px;
    line-height: 24px;
  }

  .footer-button-item-cont {
    min-width: 91px;
  }

  .footer-button-item {
    font-family: Inter;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
  }

  .footer-slogan {
    width: 640px;
    margin-bottom: 99px;
    margin-right: auto;
    margin-left: auto;
    font-size: 32px;
    line-height: 32px;
  }

  .footer-yacht-privicy-list {
    font-style: 14px;
    line-height: 16.52px;
  }
}

@media screen and (min-width: 1280px) {
  .contaiter {
    max-width: 1230px;
  }

  .footer-first-part {
    gap: 360px;
  }

  .footer-slogan {
    display: flex;
    width: 693px;
    align-items: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: center;
  }
}
