/* ========================== MOBILE-STYLE ========================== */

.logo {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
  display: block;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 0;
}

.header {
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  background-color: #fbfbfb;
  position: fixed;
  min-width: 320px;
  top: 0;
  left: 0;
  right: 0;
  margin: 20px 20px 0px 20px;
  z-index: 999;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.open-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.open-menu-btn-icon {
  stroke-width: 2.5px;
  stroke: #1b414b;
}

@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .address-list {
    display: none;
  }
}

/* ========================== /MOBILE-STYLE ========================== */

/* ========================== TABLET-STYLE ========================== */

@media screen and (min-width: 768px) {
  .header {
    height: 48px;
    margin: 29px 32px 0px 32px;
  }

  .open-menu-btn {
    display: none;
  }

  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-menu {
    display: flex;
    column-gap: 4px;
  }

  .header-menu-item {
    position: relative;
    background-color: rgba(27, 65, 75, 0.5);
    border-radius: 8px;
    width: 91px;
    height: 40px;
  }

  .nav-item {
    background-color: #1b414b;
  }

  .header-menu-item-link {
    display: block;
    text-decoration: none;
    position: relative;
    color: #fbfbfb;
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3em;
    text-transform: uppercase;
    padding: 15px 25px 15px 28px;
  }

  .contacts {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .contacts-item {
    width: 24px;
    height: 24px;
  }

  .contacts-item-link {
    fill: #1b414b;
  }
}

/* ========================== /TABLET-STYLE ========================== */

/* ========================== DESKTOP-STYLE ========================== */
@media screen and (min-width: 1280px) {
  .header {
    margin: 32px 100px 0px 100px;
  }
}

/* ========================== /DESKTOP-STYLE ========================== */
