/* ========================== MOBILE-STYLE ========================== */

.logo {
  width: 52px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #1b414b;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}

.header {
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  background-color: #fbfbfb;
  position: fixed;
  min-width: 320px;
  top: 0;
  left: 0;
  right: 0;
  margin: 20px 20px 0px 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
}

.open-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  stroke: #1b414b;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
}

@media screen and (max-width: 762px) {
  .address-list {
    display: none;
  }
}

/* ========================== /MOBILE-STYLE ========================== */

/* ========================== TABLET-STYLE ========================== */

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 113px;
  }

  .open-menu-btn {
    display: none;
  }

  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-menu {
    display: flex;
    column-gap: 4px;
  }

  .header-menu-item {
    color: #fbfbfb;
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    border-radius: 8px;
    width: 91px;
    height: 40px;
    background-color: #1b414b;
    padding: 15px 24px;
  }

  .address-list {
  }

  .contacts {
    display: flex;
    gap: 8px;
  }
}

/* ========================== /TABLET-STYLE ========================== */

/* ========================== DESKTOP-STYLE ========================== */

/* ========================== /DESKTOP-STYLE ========================== */
