.our-yachts-section {
  padding-top: 40px;
  padding-bottom: 40px;
}
 

.our-yachts-title {
  color: #fbfbfb;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Inter;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  width: 319px;
  margin-left: 8px;
}

.our-yachts-list-items {
  margin-bottom: 40px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  height: 520px;
}

.our-yachts-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  background: #fbfbfb;
  margin-top: 40px;
  padding: 16px 16px 32px 16px;
}

.our-yachts-photo {
  border-radius: 24px;
  width: 100%;
  height: 240px;
}

.our-yachts-name-type {
  display: inline-flex;
  align-items: center;
  margin-top: 16px;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}

.our-yachts-dop-div {
  border-bottom: 1px solid rgba(4, 3, 6, 0.1);
  display: inline-flex;
  align-items: center;
  margin-top: 16px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 13px;
}

.yachts-name {
  color: #1b414b;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: -0.045em;
  text-transform: uppercase;
}

.yachts-type {
  color: #1b414b;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.4;
}

.our-yachts-line {
  stroke: rgba(4, 3, 6, 0.1);
  width: 254px;
  margin: 16px 32px;
}

.our-yachts-categories {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}

.our-yachts-categories-first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.yachts-categories-items {
  color: #040306;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.4;
}

.our-yachts-categories-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}

.yachts-categories-results {
  color: #040306;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.yacht-rental-btn {
  display: block;
  padding: 13px 30px;
  margin: 0 auto;
  align-items: flex-start;
  border-radius: 15px;
  border: 1px solid rgba(251, 251, 251, 0.35);
  background: #0e1823;
  color: #fbfbfb;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  cursor: pointer;
  width: 140px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.yacht-rental-btn:hover {
  background: #fbfbfb;
  color: #1b414b;
}

/* ***********MEDIA TABLET ********** */

@media screen and (min-width: 768px) {
  .our-yachts-section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .our-yachts-title {
    font-size: 48px;
    width: 645px;
    margin-left: 30px;
  }

  .our-yachts-photo {
    height: 268px;
  }

  .our-yachts-list-items {
    margin-bottom: 50px;
    display: flex;
    gap: 32px;
    overflow: hidden;
    flex-wrap: wrap;
    height: 582px;
  }

  .our-yachts-list {
    width: calc((100% - 32px) / 2);
    margin-top: 75px;
  }

  .our-yachts-line {
    width: 272px;
  }

  .yacht-rental-btn {
    padding: 16px 50px;
    width: 179px;
    height: 52px;
  }
}

/************MEDIA DESKTOP *********/

@media screen and (min-width: 1280px) {
  .our-yachts-title {
    width: 714px;
    margin-left: 233px;
  }

  .our-yachts-list-items {
    gap: 25px;
    overflow: visible;
    flex-wrap: nowrap;
  }

  .our-yachts-list {
    width: calc((100% - 50px) / 3);
  }
  .our-yachts-line {
    width: 316px;
  }
}
