
.reviews {
    padding-top: 40px;
    padding-bottom: 40px;
}

.reviews-title-container {
    padding-left: 20px;
    padding-right: 20px;
}

.reviews-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
}

.reviews-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    opacity: 0.4;
    padding-top: 25px;
    padding-bottom: 40px;
}

.reviews-list {
    background-color: #fbfbfb;
    border-radius: 24px;
    width: 335px;
    height: 282px;
}

.reviews-list-item {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reviews-customers-block {
    padding: 24px 16px 32px;
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
}

.reviews-second-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #040306;
}

.customers-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(4, 3, 6, 0.4);
}

.reviews-img {
    margin: auto;
    padding-top: 32px;
}


