
.reviews {
    padding-top: 40px;
    padding-bottom: 40px;
}

.reviews-title-container {
    padding-left: 20px;
    padding-right: 20px;
}

.reviews-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
}

.reviews-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    opacity: 0.4;
    padding-top: 25px;
    padding-bottom: 40px;
}

.reviews-list {
    height: 282px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 32px;
}

.reviews-list-item {
    background-color: #fbfbfb;
    border-radius: 24px;
}

.reviews-customers-block {
    padding: 24px 16px 32px;
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
}

.reviews-second-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #040306;
}

.customers-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(4, 3, 6, 0.4);
}

.reviews-img {
    margin: auto;
    padding-top: 32px;
}

@media screen and (min-width: 768px) {
    .reviews-title {
        width: 704px;
        font-size: 48px;
    }
    .reviews-item {
        font-size: 14px;
        line-height: 1.28571;
        width: 571px;
        margin: auto;
        padding-bottom: 75px;
    }
    .reviews-list-item {
        width: calc((100% - 32px)/2);
    }
    .reviews-title-container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 1280px) {
    .reviews-list-item {
        width: calc((100% - 32px)/3);
    }
}